[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
docutils = "==0.17.1"  # Use the latest stable version if you don't need a specific version
email-validator = "==2.2.0"
entrypoints = "==0.3"  # Use the latest stable version if you don't need a specific version
et-xmlfile = "==1.1.0"
executing = "==0.8.3"  # Use the latest stable version if you don't need a specific version
fastapi = "==0.111.0"
fastapi-cli = "==0.0.4"
fastjsonschema = "==2.15.1"  # Use the latest stable version if you don't need a specific version
filelock = "==3.0.12"  # Use the latest stable version if you don't need a specific version
flake8 = "==3.9.2"
flask = "==2.0.1"
flask-cors = "==3.0.10"
werkzeug = "==2.0.1"
langchain_community = "*"  # Replace with specific version if needed
tiktoken = "*"  # Replace with specific version if needed

[dev-packages]

[requires]
python_version = "3.12"
